= render :partial => "shared/menu", :locals => { :s => "ranking" }
%h2 Ranking
%table.table.table-bordered.table-hover
  %thead
    %th Miejsce
    %th Użytkownik
    %th Punkty
  %tbody
    - @users.each_with_index do |user,i|
      %tr
        %td= (@users.map(&:points).uniq.index(user.points) || 0) + 1
        %th= user.username
        %td= user.points
