// Place all the styles related to the Matches controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clickable-row:hover {
  cursor: pointer;
  cursor: hand;
}

.nowrap {
  white-space: nowrap;
}

table.fixed {
  table-layout: fixed;
}