// Place all the styles related to the Rankings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


ul.ranking {
  display: table-row;
}

ul.ranking li {
  display: block;
  vertical-align: middle;
}

ul.ranking li:nth-child(1) {
  font-size: 200%;
  span.badge {
    font-size: 200%;
  }
}

ul.ranking li:nth-child(2) {
  font-size: 150%;
  span.badge {
    font-size: 150%;
  }
}
